<div class=" container alert alert-dark bg-dark">
    <div class="alert alert-dark">
        <h3 class="alert bg-dark color-blanco align-center">Perfil</h3> <br>
        <div class="alert alert-light">
            <b>Nombres: </b><p><%= current_user.name%></p>
            <b>Apellidos: </b><p><%= current_user.surname%></p>
            <b>Correo: </b><p><%= current_user.email%></p>
        </div>
        <%= link_to "Actualizar", edit_user_registration_path, class: "btn btn-info" %>
    </div>
</div>
