<div class="container sm alert alert-dark bg-dark">
    <div class="alert alert-dark">
        <br> 
        <h4 class="alert alert-dark bg-dark  color-white">
            <b class="color-blanco align-center" id="center">Nueva Publicacion</b>
        </h4>
        <%= render 'form' %>
    </div>
    
    
</div>