<div class=" container alert alert-dark">
    <div class="jumbotron justificado">
        <h1 class="alert color-blanco bg-dark align-center">Welcome </h1>
        <p class="lead color-negro">Bienvenido a una Comunidad dedicada a soñar con tener su casa propia, con facilidad de pago, en un buen sitio y de la manera mas favorablemente cercana al cliente. Accede para conocer las publicaciones de muchas personas dentro de este blog.</p>
        <hr class="my-4">
        <p class="color-negro">Vecindario hace que el sueño de tener tu casa propia se haga realidad, lo unico que tienes que hacer es entrar conocer sus ofertas, agendar tu cita, comprar y listo ya tienes casa Propia</p> <br>
        <%= image_tag asset_path('vecindario.svg') %> <br>
        <a class="btn btn-danger btn-lg form-control" href="https://www.vecindario.com" role="button" target="_blank">Ver Vecindario</a>
    </div>
</div> <br>
