<div class="container alert alert-dark bg-dark ">
    <div class="alert alert-dark">
        <h2 class="alert alert-dark bg-dark align-center color-blanco">Que Deseas Ver </h2>
        <div class="card-group container">
            <div class="card card-1 container"> <br>
                <%= image_tag asset_path('publicaciones.png'), id: "picture" %>
                <div class="card-body">
                    <h5 class="card-title"><b>PUBLICACIONES</b></h5>
                    <p class="card-text justificado">Todas las publicaciones</p>
                    <a href="/publications" class="btn btn-primary form-control espacio-abajo">Publicaciones</a>
                </div> <br>
            </div> 
            <div class="card card-1 container"> <br>
                <%= image_tag asset_path('acerca.jpg'), id:"picture" %>
                <div class="card-body">
                    <h5 class="card-title"><b>ACERCA DE </b></h5>
                    <p class="card-text justificado">Informacion de Vecindario</p>
                    <a href="/acerca_de" class="btn btn-danger form-control espacio-abajo">Acerca de</a>
                </div> <br>
            </div> 
        </div> 
        <% if user_signed_in?%>
        <div class="card-group container">
            <div class="card card-1 container"> <br>
                <%= image_tag asset_path('usuario.jpg'), id: "picture" %>
                <div class="card-body">
                    <h5 class="card-title"><b>Mis Publicaciones</b></h5>
                    <p class="card-text">Publicaciones hechas por mi.</p>
                    <a href="/mis_publications" class="btn btn-success form-control">Ver Mis Publicaciones</a>
                </div> 
            </div>
            <div class="card card-1 container" > <br>
                <%= image_tag asset_path('avatar.png'), id: "picture" %>
                <div class="card-body">
                    <h5 class="card-title"><b>Ver Perfil</b></h5>
                    <p class="card-text">Ver tus datos personales</p>
                    <a href="/perfil" class="btn btn-info form-control">Ver Perfil</a>
                </div> 
            </div>
        </div>
        <% end %>  
    </div>
</div>
    
    
