// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.imagen{
    width: 100%;
    height: 70%;
}

.espacio-arriba{
    margin-top: 20px;
}

#img{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

.justificado{
    text-align: justify;
}


.color-blanco{
    color: white;
}

.align-center{
    text-align: center;
}

.espacio-abajo{
    margin-bottom: 30px;
}